@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Noto+Sans:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: "Inconsolata", monospace;
  height: 100%;
  line-height: 100%;
  letter-spacing: 0.03em;
}
#root {
  height: 100%;
}

.web-cam { 
  mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

